Repository Ilanea/travelid, changes with the owners that CODEOWNERS names for each.
All owners: @Ilanea, @mariobedenk, @Janok321, @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander, @ek0402, @ep2277, @Tixerio, @nix9n

CODEOWNERS:

# Backend Codeowners
/apps/backend/ @Ilanea @mariobedenk @Janok321
/apps/backend-e2e/ @Ilanea @mariobedenk @Janok321

# Hotel Frontend Codeowners
/apps/frontend-hotel/ @ghostsxxx @Obanzi @zewall @DominikB90 @ChrisCodeKing @pascalexander @Ilanea

# Users Frontend Codeowners
/apps/mobile-guest/ @ek0402 @ep2277 @Janok321 @Tixerio @nix9n
/apps/mobile-guest-e2e/ @ek0402 @ep2277 @Janok321 @Tixerio @nix9n
/tools/ @ek0402 @ep2277 @Janok321 @Tixerio @nix9n

# Libraries
/libs/ @ghostsxxx @Ilanea

Updated Files | Presentation
  apps/mobile-test/package-lock.json
  apps/mobile-test/package.json
  apps/mobile-test/src/app/navigation/MainNavigator.js
  apps/mobile-test/src/app/pics/MEMB_Background.png
  apps/mobile-test/src/app/pics/MEMB_Level1.png
  apps/mobile-test/src/app/pics/MEMB_Level2.png
  apps/mobile-test/src/app/pics/MEMB_Level3.png
  apps/mobile-test/src/app/pics/aquadome copy 2.jpg
  apps/mobile-test/src/app/pics/aquadome copy.jpg
  apps/mobile-test/src/app/pics/aquadome2.jpg
  apps/mobile-test/src/app/pics/aquadome3.jpg
  apps/mobile-test/src/app/pics/aquadome4.jpg
  apps/mobile-test/src/app/pics/aquadome5.webp
  apps/mobile-test/src/app/pics/background_results copy.png
  apps/mobile-test/src/app/pics/bathtub.webp
  apps/mobile-test/src/app/pics/bonuspunkt.jpg
  apps/mobile-test/src/app/pics/breakfast.jpg
  apps/mobile-test/src/app/pics/doggo copy.jpg
  apps/mobile-test/src/app/pics/hotel.jpg
  apps/mobile-test/src/app/pics/outdoor.jpg
  apps/mobile-test/src/app/pics/wifi.jpg
  apps/mobile-test/src/app/provider/AuthProvider.tsx
  apps/mobile-test/src/app/screens/Booking.js
  apps/mobile-test/src/app/screens/Home.js
  apps/mobile-test/src/app/theme/theme.js
  apps/mobile-test/src/app/utils/apiFunctions.js
  apps/mobile-test/src/app/utils/internalFunctions.js
Owners: none

Small changes to descriptions and images
  apps/mobile-test/package-lock.json
  apps/mobile-test/package.json
  apps/mobile-test/src/app/navigation/MainNavigator.js
  apps/mobile-test/src/app/pics/tirol2.jpg
  apps/mobile-test/src/app/pics/tirol3.jpg
  apps/mobile-test/src/app/pics/tirol4.jpg
  apps/mobile-test/src/app/pics/tivoli1.jpg
  apps/mobile-test/src/app/screens/BonuspunktePage.js
  apps/mobile-test/src/app/screens/Booking.js
  apps/mobile-test/src/app/screens/Home.js
  apps/mobile-test/src/app/screens/LoginScreen.js
  apps/mobile-test/src/app/screens/Profile.js
  apps/mobile-test/src/app/screens/Results.js
Owners: none

added markdown and admin property mgmt
  apps/backend/prisma/data.ts
  apps/backend/prisma/schema.prisma
  apps/backend/src/app/authz/policies/hotel.handler.ts
  apps/backend/src/app/hotel/dto/hotel.dto.ts
  apps/backend/src/app/hotel/hotel.service.ts
  apps/backend/src/app/property/dto/property.dto.ts
  apps/backend/src/app/property/property.controller.ts
  apps/backend/src/app/property/property.service.ts
  apps/frontend-hotel/src/components/layout/sidenavigation.tsx
  apps/frontend-hotel/src/components/mdx-editor.tsx
  apps/frontend-hotel/src/components/sidebar-nav.tsx
  apps/frontend-hotel/src/features/admin/api/create-property.tsx
  apps/frontend-hotel/src/features/admin/components/category-combobox.tsx
  apps/frontend-hotel/src/features/admin/components/properties-table-column-header.tsx
  apps/frontend-hotel/src/features/admin/components/properties-table-columns.tsx
  apps/frontend-hotel/src/features/admin/components/properties-table-faceted-filter.tsx
  apps/frontend-hotel/src/features/admin/components/properties-table-pagination.tsx
  apps/frontend-hotel/src/features/admin/components/properties-table-row-actions.tsx
  apps/frontend-hotel/src/features/admin/components/properties-table.tsx
  apps/frontend-hotel/src/features/admin/components/properties.tsx
  apps/frontend-hotel/src/features/admin/components/rewards-form.tsx
  apps/frontend-hotel/src/features/admin/data/data.tsx
  apps/frontend-hotel/src/features/admin/data/schema.ts
  apps/frontend-hotel/src/features/admin/hooks/use-create-edit-reward.tsx
  apps/frontend-hotel/src/features/admin/pages/edit-reward.tsx
  apps/frontend-hotel/src/features/admin/pages/manage-properties.tsx
  apps/frontend-hotel/src/features/admin/pages/rewards.tsx
  apps/frontend-hotel/src/features/admin/types/index.ts
  apps/frontend-hotel/src/features/hotel-profile/components/description-form.tsx
  apps/frontend-hotel/src/features/hotel-profile/components/general-form.tsx
  apps/frontend-hotel/src/features/hotel-profile/pages/hotel-profile.tsx
  apps/frontend-hotel/src/features/hotel-profile/types/index.ts
  apps/frontend-hotel/src/routes/index.tsx
  apps/frontend-hotel/tsconfig.app.json
  libs/icons-web/src/lib/icons-web.tsx
  package-lock.json
  package.json
  swagger-spec.json
Owners: @Ilanea, @mariobedenk, @Janok321, @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander

Homescreen out comment
  apps/mobile-test/src/app/screens/HomeScreen.tsx
  apps/mobile-test/src/app/screens/RegisterStep3Optional.js
Owners: none

navigator.js changed
  apps/mobile-test/src/app/navigation/MainNavigator.js
Owners: none

Update MainNavigator.js
  apps/mobile-test/src/app/navigation/MainNavigator.js
Owners: none

test
  apps/mobile-test/src/app/navigation/MainNavigator.js
Owners: none

Update MainNavigator.js
  apps/mobile-test/src/app/navigation/MainNavigator.js
Owners: none

Update MainNavigator.js
  apps/mobile-test/src/app/navigation/MainNavigator.js
Owners: none

Update MainNavigator.js
  apps/mobile-test/src/app/navigation/MainNavigator.js
Owners: none

update AuthProvider
  apps/mobile-test/src/app/navigation/MainNavigator.js
  apps/mobile-test/src/app/provider/AuthProvider.tsx
Owners: none

const listfilters
  apps/mobile-test/src/app/provider/AuthProvider.tsx
  apps/mobile-test/src/app/utils/internalFunctions.js
Owners: none

updated dashboard
  apps/frontend-hotel/src/components/dashboard-card-small.tsx
  apps/frontend-hotel/src/components/dashboard-card.tsx
  apps/frontend-hotel/src/features/dashboard/pages/dashboard.tsx
Owners: @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander, @Ilanea

Update RegisterStep1.js
  apps/mobile-test/src/app/screens/RegisterStep1.js
Owners: none

update reports
  apps/frontend-hotel/src/components/dashboard-card-small.tsx
  apps/frontend-hotel/src/components/dashboard-card.tsx
  apps/frontend-hotel/src/components/data-range-picker.tsx
  apps/frontend-hotel/src/features/HotelPage/components/BookingBarChart.tsx
  apps/frontend-hotel/src/features/HotelPage/components/BookingOriginChart.tsx
  apps/frontend-hotel/src/features/HotelPage/components/BoxComponent.tsx
  apps/frontend-hotel/src/features/HotelPage/pages/Report.tsx
  apps/frontend-hotel/src/features/dashboard/pages/dashboard.tsx
  libs/icons-web/src/lib/icons-web.tsx
Owners: @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander, @Ilanea

Fixed Login and Register
  apps/mobile-test/src/app/navigation/MainNavigator.js
  apps/mobile-test/src/app/provider/AuthProvider.tsx
  apps/mobile-test/src/app/provider/UserProvider.tsx
  apps/mobile-test/src/app/screens/BonuspunktePage.js
  apps/mobile-test/src/app/screens/LoginScreen.js
  apps/mobile-test/src/app/screens/Profile.js
  apps/mobile-test/src/app/screens/RegisterStep1.js
Owners: none

changeregisterrow
  apps/mobile-test/src/app/navigation/MainNavigator.js
  apps/mobile-test/src/app/screens/RegisterStep1.js
  apps/mobile-test/src/app/screens/RegisterStep2.js
  package-lock.json
  package.json
Owners: none

Auth Provider copied from M, constants new
  apps/mobile-test/src/app/constants/constants.ts
  apps/mobile-test/src/app/provider/AuthProvider.tsx
  apps/mobile-test/src/app/provider/UserProvider.tsx
Owners: none

Update RegisterStep1.js
  apps/mobile-test/src/app/screens/RegisterStep1.js
Owners: none

RegisterStep 3 changed, MainNavigator changed
  apps/mobile-test/src/app/navigation/MainNavigator.js
  apps/mobile-test/src/app/screens/Home.js
  apps/mobile-test/src/app/screens/RegisterStep3Optional.js
Owners: none

Update RegisterStep1.js
  apps/mobile-test/src/app/screens/RegisterStep1.js
Owners: none

Update RegisterStep1.js
  apps/mobile-test/src/app/screens/RegisterStep1.js
Owners: none

small changes
  apps/frontend-hotel/src/features/bookings/components/bookings-table-columns.tsx
  apps/frontend-hotel/src/features/bookings/components/bookings-table-row-actions.tsx
  apps/frontend-hotel/src/features/bookings/components/guest-profile.tsx
  apps/frontend-hotel/src/features/bookings/data/data.tsx
  apps/frontend-hotel/src/features/bookings/data/schema.ts
  apps/frontend-hotel/src/features/bookings/pages/bookings.tsx
  apps/frontend-hotel/src/features/rewards/components/rewards-table-columns.tsx
  apps/frontend-hotel/src/features/rewards/components/rewards-table-row-actions.tsx
Owners: @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander, @Ilanea

App.js
  apps/mobile-test/src/app/App.js
Owners: none

auf js geändert
  apps/mobile-test/src/app/App.spec.js
Owners: none

Create UserApi.tsx
  apps/mobile-test/src/app/services/UserApi.tsx
Owners: none

Updated BonusPoints | Profile | Homescreen
  apps/mobile-test/src/app/screens/BonuspunktePage.js
  apps/mobile-test/src/app/screens/Home.js
  apps/mobile-test/src/app/screens/Profile.js
  apps/mobile-test/src/app/screens/RegisterStep1.js
  apps/mobile-test/src/app/utils/apiFunctions.js
Owners: none

Fixed Register for presentation
  apps/mobile-test/src/app/navigation/MainNavigator.js
  apps/mobile-test/src/app/provider/UserProvider.tsx
  apps/mobile-test/src/app/screens/BonuspunktePage.js
  apps/mobile-test/src/app/screens/Profile.js
  apps/mobile-test/src/app/screens/RegisterStep1.js
  apps/mobile-test/src/app/screens/RegisterStep3Optional.js
  apps/mobile-test/src/app/utils/apiFunctions.js
Owners: none

admin panel finished
  apps/frontend-hotel/src/components/layout/sidenavigation.tsx
  apps/frontend-hotel/src/components/layout/top-bar.tsx
  apps/frontend-hotel/src/features/admin/api/create-hotel.tsx
  apps/frontend-hotel/src/features/admin/api/get-hotels.tsx
  apps/frontend-hotel/src/features/admin/components/hotels/hotels-table-column-header.tsx
  apps/frontend-hotel/src/features/admin/components/hotels/hotels-table-columns.tsx
  apps/frontend-hotel/src/features/admin/components/hotels/hotels-table-faceted-filter.tsx
  apps/frontend-hotel/src/features/admin/components/hotels/hotels-table-pagination.tsx
  apps/frontend-hotel/src/features/admin/components/hotels/hotels-table-row-actions.tsx
  apps/frontend-hotel/src/features/admin/components/hotels/hotels-table.tsx
  apps/frontend-hotel/src/features/admin/components/hotels/hotels.tsx
  apps/frontend-hotel/src/features/admin/components/hotels/rewards-form.tsx
  apps/frontend-hotel/src/features/admin/components/properties/category-combobox.tsx
  apps/frontend-hotel/src/features/admin/components/properties/properties-table-column-header.tsx
  apps/frontend-hotel/src/features/admin/components/properties/properties-table-columns.tsx
  apps/frontend-hotel/src/features/admin/components/properties/properties-table-faceted-filter.tsx
  apps/frontend-hotel/src/features/admin/components/properties/properties-table-pagination.tsx
  apps/frontend-hotel/src/features/admin/components/properties/properties-table-row-actions.tsx
  apps/frontend-hotel/src/features/admin/components/properties/properties-table.tsx
  apps/frontend-hotel/src/features/admin/components/properties/properties.tsx
  apps/frontend-hotel/src/features/admin/components/properties/rewards-form.tsx
  apps/frontend-hotel/src/features/admin/data/schema.ts
  apps/frontend-hotel/src/features/admin/pages/edit-reward.tsx
  apps/frontend-hotel/src/features/admin/pages/hotels.tsx
  apps/frontend-hotel/src/features/admin/pages/manage-properties.tsx
  apps/frontend-hotel/src/features/admin/pages/users.tsx
  apps/frontend-hotel/src/routes/index.tsx
Owners: @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander, @Ilanea

fixed reports
  apps/frontend-hotel/src/features/HotelPage/components/BookingBarChart.tsx
  apps/frontend-hotel/src/features/HotelPage/components/BookingOriginChart.tsx
Owners: @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander, @Ilanea

merge
  libs/ui-web/src/components/card/card.tsx
Owners: @ghostsxxx, @Ilanea

Final update for the presentation
  apps/mobile-test/src/app/navigation/MainNavigator.js
  apps/mobile-test/src/app/provider/AuthProvider.tsx
  apps/mobile-test/src/app/provider/UserProvider.tsx
  apps/mobile-test/src/app/screens/LoginScreen.js
  apps/mobile-test/src/app/screens/Profile.js
  apps/mobile-test/src/app/screens/RegisterStep1.js
  apps/mobile-test/src/app/screens/RegisterStep2.js
  apps/mobile-test/src/app/screens/Welcome.js
  apps/mobile-test/src/app/utils/apiFunctions.js
  apps/mobile-test/src/app/utils/check.js
Owners: none

fixing bugs
  apps/frontend-hotel/src/features/rewards/components/rewards-form.tsx
  apps/frontend-hotel/src/features/rewards/pages/edit-reward.tsx
Owners: @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander, @Ilanea

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update .env
  apps/backend/.env
Owners: @Ilanea, @mariobedenk, @Janok321

Fixed Login->Home | Register1->Register2 Problem | Deleted comment code
  apps/mobile-test/src/app/navigation/MainNavigator.js
  apps/mobile-test/src/app/provider/AuthProvider.tsx
  apps/mobile-test/src/app/screens/About.js
  apps/mobile-test/src/app/screens/BonuspunktePage.js
  apps/mobile-test/src/app/screens/Home.js
  apps/mobile-test/src/app/screens/HomeScreen.tsx
  apps/mobile-test/src/app/screens/LoginScreen.js
  apps/mobile-test/src/app/screens/RegisterScreen.js
  apps/mobile-test/src/app/screens/RegisterStep1.js
  apps/mobile-test/src/app/screens/RegisterStep2.js
  apps/mobile-test/src/app/screens/RegisterStep3Optional.js
  apps/mobile-test/src/app/screens/Welcome.js
  apps/mobile-test/src/app/screens/_layout.js
  apps/mobile-test/src/app/utils/check.js
Owners: none

Update README.md
  README.md
Owners: none

last commit :)
  apps/frontend-hotel/public/features.json
  apps/frontend-hotel/public/vulnerability.csv
  apps/frontend-hotel/src/components/dashboard-card-small.tsx
  apps/frontend-hotel/src/components/dashboard-card.tsx
  apps/frontend-hotel/src/components/data-range-picker.tsx
  apps/frontend-hotel/src/components/layout/sidenavigation.tsx
  apps/frontend-hotel/src/components/mdx-editor.tsx
  apps/frontend-hotel/src/components/sidebar-nav.tsx
  apps/frontend-hotel/src/components/upload-widget.tsx
  apps/frontend-hotel/src/features/HotelPage/components/world-map.tsx
  apps/frontend-hotel/src/features/HotelPage/pages/Report.tsx
  apps/frontend-hotel/src/features/admin/components/hotels/hotel-form.tsx
  apps/frontend-hotel/src/features/admin/components/hotels/hotels-table-columns.tsx
  apps/frontend-hotel/src/features/admin/components/hotels/hotels.tsx
  apps/frontend-hotel/src/features/admin/components/properties/category-combobox.tsx
  apps/frontend-hotel/src/features/admin/components/properties/properties-table-columns.tsx
  apps/frontend-hotel/src/features/admin/components/properties/properties.tsx
  apps/frontend-hotel/src/features/admin/data/data.tsx
  apps/frontend-hotel/src/features/admin/data/schema.ts
  apps/frontend-hotel/src/features/admin/pages/edit-reward.tsx
  apps/frontend-hotel/src/features/auth/hooks/use-sign-in-up.tsx
  apps/frontend-hotel/src/features/hotel-profile/components/description-form.tsx
  apps/frontend-hotel/src/features/hotel-profile/components/facilities-form.tsx
  apps/frontend-hotel/src/features/hotel-profile/components/facilities-form2.tsx
  apps/frontend-hotel/src/features/hotel-profile/components/general-form.tsx
  apps/frontend-hotel/src/features/hotel-profile/components/properties-form.tsx
  apps/frontend-hotel/src/features/hotel-profile/pages/hotel-profile.tsx
  package-lock.json
  package.json
Owners: @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander, @Ilanea

last last commit
  apps/backend/.env
  apps/backend/prisma/data.ts
  apps/backend/prisma/schema.prisma
  apps/backend/src/app/auth/auth.service.ts
  apps/frontend-hotel/src/features/admin/pages/rewards.tsx
  apps/frontend-hotel/src/features/admin/pages/users.tsx
  apps/frontend-hotel/src/features/auth/hooks/use-sign-in-up.tsx
  apps/frontend-hotel/src/features/bookings/api/get-bookings.ts
  apps/frontend-hotel/src/features/bookings/pages/bookings.tsx
  apps/frontend-hotel/src/features/rewards/api/get-rewards.ts
  apps/frontend-hotel/src/features/rewards/components/rewards-form.tsx
  apps/frontend-hotel/src/routes/index.tsx
  package.json
  swagger-spec.json
Owners: @Ilanea, @mariobedenk, @Janok321, @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander
