Repository Ilanea/travelid, changes with the owners that CODEOWNERS names for each.
All owners: @Ilanea, @mariobedenk, @Janok321, @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander, @ek0402, @ep2277, @Tixerio, @nix9n

CODEOWNERS:

# Backend Codeowners
/apps/backend/ @Ilanea @mariobedenk @Janok321
/apps/backend-e2e/ @Ilanea @mariobedenk @Janok321

# Hotel Frontend Codeowners
/apps/frontend-hotel/ @ghostsxxx @Obanzi @zewall @DominikB90 @ChrisCodeKing @pascalexander @Ilanea

# Users Frontend Codeowners
/apps/mobile-guest/ @ek0402 @ep2277 @Janok321 @Tixerio @nix9n
/apps/mobile-guest-e2e/ @ek0402 @ep2277 @Janok321 @Tixerio @nix9n
/tools/ @ek0402 @ep2277 @Janok321 @Tixerio @nix9n

# Libraries
/libs/ @ghostsxxx @Ilanea

updated password field and made a new password checker
  apps/frontend-hotel/src/features/settings/components/security-form.tsx
  apps/frontend-hotel/src/features/settings/hooks/change-settings-user.tsx
Owners: @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander, @Ilanea

refactoring
  apps/mobile-test/src/app/screens/RegisterStep1.js
  apps/mobile-test/src/app/screens/RegisterStep2Optional.js
  apps/mobile-test/src/app/screens/Welcome.js
  swagger-spec.json
Owners: none

fix: backend user
  apps/backend/prisma/schema.prisma
  apps/backend/src/app/authz/policies/user.handler.ts
  apps/backend/src/app/user/dto/user.dto.ts
  apps/backend/src/app/user/user.controller.ts
  apps/backend/src/app/user/user.service.ts
  swagger-spec.json
Owners: @Ilanea, @mariobedenk, @Janok321

Create UserProvider.tsx
  apps/mobile-test/src/app/provider/UserProvider.tsx
Owners: none

Update UserProvider.tsx
  apps/mobile-test/src/app/provider/UserProvider.tsx
Owners: none

feat: api example
  apps/backend/src/app/auth/dto/auth.dto.ts
  apps/backend/src/app/auth/guard/auth.guard.ts
  apps/mobile-test/package-lock.json
  apps/mobile-test/package.json
  apps/mobile-test/src/app/constants/constants.ts
  apps/mobile-test/src/app/navigation/MainNavigator.tsx
  apps/mobile-test/src/app/provider/AuthProvider.tsx
  apps/mobile-test/src/app/screens/HomeScreen.tsx
  apps/mobile-test/src/app/screens/TestScreen.tsx
  apps/mobile-test/src/app/screens/auth/RegisterScreen.tsx
  apps/mobile-test/src/app/services/UserApi.tsx
Owners: @Ilanea, @mariobedenk, @Janok321

no auth logs
  apps/backend/src/app/auth/guard/auth.guard.ts
Owners: @Ilanea, @mariobedenk, @Janok321

added loginscreen
  apps/mobile-test/GlobalStyles.js
  apps/mobile-test/package.json
  apps/mobile-test/src/app/navigation/MainNavigator.tsx
  apps/mobile-test/src/app/screens/LoginScreen.js
  apps/mobile-test/src/app/screens/RegisterStep2Optional.js
  apps/mobile-test/src/app/screens/Welcome.js
Owners: none

Update UserProvider.tsx
  apps/mobile-test/src/app/provider/UserProvider.tsx
Owners: none

bonuspoints schreibweise
  apps/backend/prisma/schema.prisma
  apps/backend/src/app/user/user.controller.ts
  apps/backend/src/app/user/user.service.ts
Owners: @Ilanea, @mariobedenk, @Janok321

bonuspoints Schreibweise
  apps/backend/src/app/authz/policies/user.handler.ts
  apps/backend/src/app/user/dto/user.dto.ts
  swagger-spec.json
Owners: @Ilanea, @mariobedenk, @Janok321

Bonuspunkte page update
  apps/mobile-test/src/app/provider/AuthProvider.tsx
  apps/mobile-test/src/app/screens/BonuspunktePage.js
Owners: none

refact loginscreen
  apps/mobile-test/src/app/screens/LoginScreen.js
Owners: none

refact loginscreen
  apps/mobile-test/package-lock.json
  apps/mobile-test/src/app/provider/AuthProvider.tsx
  apps/mobile-test/src/app/screens/LoginScreen.js
Owners: none

basic api-key creation
  apps/backend/prisma/schema.prisma
  apps/backend/src/app/auth/guard/api-key.guard.ts
  apps/backend/src/app/auth/guard/index.ts
  apps/backend/src/app/authz/policies/user.handler.ts
  apps/backend/src/app/hotel/hotel.controller.ts
  apps/backend/src/app/user/user.controller.ts
  apps/backend/src/app/user/user.service.ts
  swagger-spec.json
Owners: @Ilanea, @mariobedenk, @Janok321

feat: add bookings
  apps/backend/prisma/schema.prisma
  apps/backend/src/app/authz/ability.factory.ts
  apps/backend/src/app/authz/policies/booking.handler.ts
  apps/backend/src/app/booking/booking.controller.ts
  apps/backend/src/app/booking/booking.module.ts
  apps/backend/src/app/booking/booking.service.ts
  apps/backend/src/app/booking/dto/booking.dto.ts
  apps/backend/src/app/hotel/hotel.module.ts
Owners: @Ilanea, @mariobedenk, @Janok321

feat: backend/booking api (#20)
  apps/backend/prisma/schema.prisma
  apps/backend/src/app/authz/ability.factory.ts
  apps/backend/src/app/authz/policies/booking.handler.ts
  apps/backend/src/app/booking/booking.controller.ts
  apps/backend/src/app/booking/booking.module.ts
  apps/backend/src/app/booking/booking.service.ts
  apps/backend/src/app/booking/dto/booking.dto.ts
  apps/backend/src/app/booking/dto/index.ts
  apps/backend/src/app/hotel/hotel.module.ts
Owners: @Ilanea, @mariobedenk, @Janok321

refactor register3, loginscreen
  apps/mobile-test/src/app/screens/LoginScreen.js
  apps/mobile-test/src/app/screens/RegisterStep3.js
Owners: none

add bookingmodule
  apps/backend/src/app/app.module.ts
  swagger-spec.json
Owners: @Ilanea, @mariobedenk, @Janok321

Register Screen & Login Screen fix
  apps/mobile-test/src/app/screens/LoginScreen.js
  apps/mobile-test/src/app/screens/RegisterScreen.js
Owners: none

design customized
  apps/mobile-test/src/app/screens/RegisterStep2Optional.js
Owners: none

Update LoginScreen.js
  apps/mobile-test/src/app/screens/LoginScreen.js
Owners: none

updated some other api endpoints
  apps/backend/src/app/booking/booking.controller.ts
  apps/backend/src/app/hotel/hotel.controller.ts
  apps/backend/src/app/hotel/hotel.service.ts
  apps/backend/src/app/user/user.controller.ts
  apps/backend/src/app/user/user.service.ts
  swagger-spec.json
Owners: @Ilanea, @mariobedenk, @Janok321

chore: update nx scripts
  package.json
Owners: none

change screen order, added dropdownpicker
  apps/mobile-test/package-lock.json
  apps/mobile-test/package.json
  apps/mobile-test/src/app/navigation/MainNavigator.tsx
  apps/mobile-test/src/app/screens/RegisterScreen.js
  apps/mobile-test/src/app/screens/RegisterStep1.js
  apps/mobile-test/src/app/screens/RegisterStep2.js
  apps/mobile-test/src/app/screens/RegisterStep2Optional.js
  apps/mobile-test/src/app/screens/RegisterStep3.js
  apps/mobile-test/src/app/screens/RegisterStep3Optional.js
Owners: none

fix: authz providers
  apps/backend/src/app/authz/authz.module.ts
Owners: @Ilanea, @mariobedenk, @Janok321

add dummy data seed
  apps/backend/prisma/data.ts
  apps/backend/prisma/seed.ts
  apps/backend/src/app/app.module.ts
  apps/frontend-hotel/src/features/auth/types/index.ts
  apps/frontend-hotel/src/features/bookings/api/get-bookings.ts
  apps/frontend-hotel/src/features/bookings/components/bookings-table-columns.tsx
  apps/frontend-hotel/src/features/bookings/types/index.ts
  apps/frontend-hotel/src/routes/index.tsx
  package.json
  swagger-spec.json
Owners: @Ilanea, @mariobedenk, @Janok321, @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander

show bookings from backend
  apps/backend/prisma/data.ts
  apps/backend/prisma/schema.prisma
  apps/backend/src/app/auth/auth.service.ts
  apps/backend/src/app/authz/authz.module.ts
  apps/backend/src/app/authz/policies/booking.handler.ts
  apps/backend/src/app/hotel/hotel.service.ts
  apps/frontend-hotel/src/features/auth/types/index.ts
  apps/frontend-hotel/src/features/bookings/api/get-bookings.ts
  apps/frontend-hotel/src/features/bookings/components/bookings-table-columns.tsx
  apps/frontend-hotel/src/features/bookings/components/bookings-table-row-actions.tsx
  apps/frontend-hotel/src/features/bookings/components/bookings-table-toolbar.tsx
  apps/frontend-hotel/src/features/bookings/data/data.tsx
  apps/frontend-hotel/src/features/bookings/data/schema.ts
  apps/frontend-hotel/src/features/bookings/pages/bookings.tsx
Owners: @Ilanea, @mariobedenk, @Janok321, @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander

add rewards backend and frontend fetch
  apps/backend/prisma/data.ts
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/authz/ability.factory.ts
  apps/backend/src/app/authz/authz.module.ts
  apps/backend/src/app/authz/policies/reward.handler.ts
  apps/backend/src/app/reward/dto/index.ts
  apps/backend/src/app/reward/dto/reward.dto.ts
  apps/backend/src/app/reward/reward.controller.ts
  apps/backend/src/app/reward/reward.module.ts
  apps/backend/src/app/reward/reward.service.ts
  apps/frontend-hotel/src/features/dashboard/components/recent-booking-list-entry.tsx
  apps/frontend-hotel/src/features/rewards/api/get-rewards.ts
  apps/frontend-hotel/src/features/rewards/components/rewards-table-column-header.tsx
  apps/frontend-hotel/src/features/rewards/components/rewards-table-columns.tsx
  apps/frontend-hotel/src/features/rewards/components/rewards-table-faceted-filter.tsx
  apps/frontend-hotel/src/features/rewards/components/rewards-table-pagination.tsx
  apps/frontend-hotel/src/features/rewards/components/rewards-table-row-actions.tsx
  apps/frontend-hotel/src/features/rewards/components/rewards-table.tsx
  apps/frontend-hotel/src/features/rewards/components/rewards.tsx
  apps/frontend-hotel/src/features/rewards/data/schema.ts
  apps/frontend-hotel/src/features/rewards/pages/rewards.tsx
  apps/frontend-hotel/src/features/rewards/types/index.ts
  swagger-spec.json
Owners: @Ilanea, @mariobedenk, @Janok321, @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander

adapt layout register3
  apps/mobile-test/src/app/screens/RegisterStep3Optional.js
Owners: none

adapt layout register3
  apps/mobile-test/src/app/screens/RegisterStep3Optional.js
Owners: none

adapt layout register3
  apps/mobile-test/src/app/screens/RegisterStep3Optional.js
Owners: none

add image upload
  apps/backend/src/app/reward/dto/reward.dto.ts
  apps/backend/src/app/reward/reward.controller.ts
  apps/backend/src/app/reward/reward.service.ts
  apps/frontend-hotel/index.html
  apps/frontend-hotel/src/components/upload-widget.tsx
  apps/frontend-hotel/src/features/rewards/api/create-reward.ts
  apps/frontend-hotel/src/features/rewards/api/edit-reward.ts
  apps/frontend-hotel/src/features/rewards/components/rewards-form.tsx
  apps/frontend-hotel/src/features/rewards/hooks/use-create-edit-reward.tsx
  apps/frontend-hotel/src/features/rewards/types/index.ts
  package-lock.json
  package.json
  swagger-spec.json
Owners: @Ilanea, @mariobedenk, @Janok321, @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander

add properties data model
  apps/backend/prisma/data.ts
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/hotel/hotel.service.ts
  apps/backend/src/app/property/dto/index.ts
  apps/backend/src/app/property/dto/property.dto.ts
  apps/backend/src/app/property/property.controller.ts
  apps/backend/src/app/property/property.module.ts
  apps/backend/src/app/property/property.service.ts
  swagger-spec.json
Owners: @Ilanea, @mariobedenk, @Janok321

several changes
  apps/mobile-test/src/app/provider/AuthProvider.tsx
  apps/mobile-test/src/app/screens/RegisterStep1.js
  apps/mobile-test/src/app/screens/RegisterStep2.js
Owners: none

main navigator changed
  apps/mobile-test/src/app/navigation/MainNavigator.js
  apps/mobile-test/src/app/navigation/MainNavigator.tsx
Owners: none

Update BonuspunktePage.js
  apps/mobile-test/src/app/screens/BonuspunktePage.js
Owners: none

Update Home.js
  apps/mobile-test/src/app/screens/Home.js
Owners: none

Update Home.js
  apps/mobile-test/src/app/screens/Home.js
Owners: none

property update is working :)
  apps/backend/prisma/data.ts
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/backend/src/app/authz/policies/hotel.handler.ts
  apps/backend/src/app/hotel/dto/hotel.dto.ts
  apps/backend/src/app/hotel/hotel.controller.ts
  apps/backend/src/app/hotel/hotel.service.ts
  apps/backend/src/app/property/property.service.ts
  apps/frontend-hotel/src/components/layout/sidenavigation.tsx
  apps/frontend-hotel/src/features/hotel-profile/api/create-reward.ts
  apps/frontend-hotel/src/features/hotel-profile/api/edit-reward.ts
  apps/frontend-hotel/src/features/hotel-profile/api/get-profile.ts
  apps/frontend-hotel/src/features/hotel-profile/api/get-property-categories.ts
  apps/frontend-hotel/src/features/hotel-profile/api/update-profile.ts
  apps/frontend-hotel/src/features/hotel-profile/components/description-form.tsx
  apps/frontend-hotel/src/features/hotel-profile/components/facilities-form.tsx
  apps/frontend-hotel/src/features/hotel-profile/components/facilities-form2.tsx
  apps/frontend-hotel/src/features/hotel-profile/components/general-form.tsx
  apps/frontend-hotel/src/features/hotel-profile/components/properties-form.tsx
  apps/frontend-hotel/src/features/hotel-profile/components/sidebar-nav.tsx
  apps/frontend-hotel/src/features/hotel-profile/hooks/use-property-categories.tsx
  apps/frontend-hotel/src/features/hotel-profile/pages/hotel-profile.tsx
  apps/frontend-hotel/src/features/hotel-profile/types/index.ts
  apps/frontend-hotel/src/routes/index.tsx
  swagger-spec.json
Owners: @Ilanea, @mariobedenk, @Janok321, @ghostsxxx, @Obanzi, @zewall, @DominikB90, @ChrisCodeKing, @pascalexander
